<%- include("../partials/header") %>

<h1>
	<%= campground.name %>
</h1>
<p>
	<%= campground.description %>
</p>

<img src='<%= campground.image %>'>

<a class='btn btn-success' href='/campgrounds/<%= campground._id %>/comments/new'>Add a new comment</a>

<% campground.comments.forEach(function(comment){ %>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% })  %>

<%- include("../partials/footer") %>
